@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Ajustes Gerais */
:root {
  --text: #e5edf5;
  --bg: #060d13;
  --primary: #92c0e7;
  --secondary: #175892;
  --accent: #3495ea;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 400px 3fr;
  grid-template-areas: "side content";
}

.side {
  background: var(--bg);
  color: var(--text);
  grid-area: side;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 50px;
  overflow-y: auto;
}

.side::-webkit-scrollbar {
  width: 10px;
  background: var(--bg);
}

.side::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

.side-hero {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.side-hero img {
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--accent);
}

.side h1 {
  font-size: 20px;
  margin: 10px 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--accent);
}

.side p {
  font-size: 12px;
}

.side a {
  color: var(--text);
  text-decoration: none;
}
.education h2 {
  font-size: 14px;
}

.education p + p {
  margin-bottom: 15px;
}

.principal {
  grid-area: content;
  background: var(--text);
  color: var(--bg);
  overflow-y: scroll;
  height: 100vh;
}

.principal::-webkit-scrollbar {
  width: 10px;
  background: var(--text);
}

.principal::-webkit-scrollbar-thumb {
  background: var(--bg);
}

.skills .bar {
  background: var(--text);
  width: 100%;
  height: 8px;
  border-radius: 8px;
  margin: 10px 0px;
  position: relative;
}

.skills .bar.fill-1::before {
  content: "";
  background: var(--accent);
  width: 50%;
  height: 8px;
  border-radius: 8px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.skills .bar.fill-2::before {
  content: "";
  background: var(--accent);
  width: 75%;
  height: 8px;
  border-radius: 8px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.principal {
  overflow-y: scroll;
}

.header {
  padding: 50px 100px;
}

.header h1 {
  font-size: 56px;
  line-height: 1;
}

.header h3 {
  font-size: 28px;
  font-weight: 400;
}

.principal .frame {
  max-width: 300px;
  padding: 10px 50px 10px 100px;
  border-top: 2px solid var(--bg);
  border-right: 2px solid var(--bg);
  border-bottom: 2px solid var(--bg);
  border-radius: 0px 32px 32px 0px;
  display: flex;
}

.principal .jobs {
  padding-bottom: 50px;
}

.principal .content {
  max-width: 1024px;
  padding: 50px 50px 25px 100px;
  position: relative;
}

.principal .content::before {
  content: "";
  width: 50px;
  height: 3px;
  background: var(--accent);
  position: absolute;
  top: 25px;
  left: 100px;
}

.jobs .content h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
}

.jobs .content h5 {
  font-size: 16px;
  font-weight: 300;
  color: var(--secondary);
}

.jobs .content ul {
  margin: 10px 0px;
  color: var(--bg);
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
  line-height: 1.3;
}

.jobs .content strong {
  color: var(--secondary);
}

@media (max-width: 1280px) {
  .header {
    padding: 50px 50px;
  }

  .header h1 {
    font-size: 48px;
  }

  .header h3 {
    font-size: 26px;
  }

  .principal .frame {
    padding-left: 50px;
  }

  .principal .content {
    padding-left: 50px;
  }

  .principal .content::before {
    left: 50px;
  }
}

@media (max-width: 960px) {
  body {
    grid-template-columns: 300px 3fr;
  }

  .side {
    padding: 25px 20px;
  }

  .header {
    padding: 30px 25px;
  }

  .header h1 {
    font-size: 36px;
  }

  .header h3 {
    font-size: 18px;
  }

  .principal .frame {
    padding-left: 25px;
  }

  .principal .content {
    padding-left: 25px;
  }

  .principal .content::before {
    left: 25px;
  }

  .principal .content p {
    font-size: 14px;
  }

  .jobs .content h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .jobs .content h5 {
    font-size: 14px;
    line-height: 1;
  }

  .jobs .content ul {
    font-size: 14px;
  }

  .jobs .content p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
    body {
        grid-template-columns: 100%;
      grid-template-areas: "side" "content";
    }

    .side {
        height: auto;
        overflow-y: unset;
    }

    .principal {
        height: auto;
        overflow-y: unset;
    }
}