@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Ajustes Gerais */
:root {
  --text: #e5edf5;
  --bg: #060d13;
  --primary: #92c0e7;
  --secondary: #175892;
  --accent: #3495ea;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s ease-in-out;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

/* Menu */
.menu {
  margin: 0 auto;
  max-width: 860px;
  width: 100%;
  border-bottom: 3px solid var(--accent);
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0px;
  display: block;
}

.menu ul li a:hover {
  color: #3495ea;
}

/* Header */
.header {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 95vh;
  position: relative;
}

.header-content {
  position: absolute;
  left: calc(50% - 425px);
  top: 50%;
  transform: translateY(-50%);
}

.header-content h1 {
  font-size: 74px;
}

.header-content p {
  font-size: 32px;
}

.header-img {
  width: 475px;
  height: 518px;
  background: url(../images/pht/pixar.svg);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.header-img:hover {
  background: url(../images/pht/real.svg);
}

/* Sobre */
.sobre {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100vh;
}

.sobre h1 {
  font-size: 52px;
  border-bottom: 3px solid var(--accent);
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  text-transform: uppercase;
}

/* Slide */
.slide {
  margin: 100px auto;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
}

.swiper {
  margin: 0 auto;
  width: 1080px;
  overflow-x: hidden;
}

.swiper .swiper-content {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  transform: translate3d(0px, 0, 0);
  flex: 1;
  transition: 0.3s ease;
}

.swiper .swiper-content .swiper-item {
  width: 1080px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.swiper .swiper-content .swiper-item .content {
  padding: 0px 40px;
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide button {
  background: url(../images/ico/swiper-btn.svg) no-repeat center center /
    contain;
  width: 72px;
  height: 72px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  cursor: pointer;
}

.slide .swiper-prev {
  right: unset;
  left: 0px;
  transform: translateY(-50%) rotate(180deg);
}

.slide button:hover {
  background: url(../images/ico/swiper-btn-hover.svg) no-repeat center center /
    contain;
}

/* Trajetoria */
.trajetoria {
  margin: 0 auto;
  max-width: 860px;
  width: 100%;
}

.trajetoria h1 {
  font-size: 52px;
  border-bottom: 3px solid var(--accent);
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  text-transform: uppercase;
}

.job-content {
  max-width: 860px;
  margin: 100px auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.job-content img {
  margin: 0 auto;
}

.accordion {
  margin: 0 auto 100px auto;
  max-width: 100%;
}

.accordion .accordion-item {
  margin-bottom: 10px;
}

.accordion .accordion-item .accordion-title {
  border: 3px solid var(--secondary);
  padding: 12px 30px;
  border-radius: 50px;
}

.accordion .accordion-item .accordion-title h2 {
  position: relative;
  cursor: pointer;
}

.accordion .accordion-item .accordion-title h2::after {
  content: "";
  background: url(../images/ico/accordion-btn-open.svg) no-repeat center center /
    contain;
  width: 33px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 10px;
}

.accordion .accordion-item.is-active .accordion-title h2::after {
  background: url(../images/ico/accordion-btn-close.svg) no-repeat center center /
  contain;
  width: 25px;
  height: 25px;
  right: 3px;
  top: 5px;
}

.accordion .accordion-item.is-active .accordion-title h2:hover::after {
  background: url(../images/ico/accordion-btn-close-hover.svg) no-repeat center center /
  contain;
}

.accordion .accordion-item .accordion-title h2:hover, .accordion .accordion-item.is-active .accordion-title h2 {
  color: var(--accent);
}

.accordion .accordion-item .accordion-title h2:hover::after {
  background: url(../images/ico/accordion-btn-open-hover.svg) no-repeat center;
}

.accordion .accordion-item .accordion-content {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0px, -50px, 0px);
  transition: none;
  padding: 0px 50px;
}

.accordion .accordion-item.is-active .accordion-content {
  opacity: 1;
  padding: 50px 50px 20px 50px;
  height: auto;
  border-left: 3px solid var(--secondary);
  border-right: 3px solid var(--secondary);
  border-bottom: 3px solid var(--secondary);
  border-radius: 0px 0px 30px 30px;
  margin-top: -30px;
  transform: translate3d(0px, 0px, 0px);
  transition: 0.5s;
  pointer-events: all;
}

.accordion .accordion-item .accordion-content a{
  color: var(--accent);
  text-decoration: none;
  font-weight: 700;
}

.accordion .accordion-item .accordion-content .logo-tec {
  width: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 3px solid var(--accent);
}

.footer p {
  color: var(--text);
}
